<div class="login-password">
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Login" name="login" ngModel>
        <label for="floatingInput">Login</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel>
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">LOGIN</button>
    </form>
  </div>
  