`<form [formGroup]="myForm"  (ngSubmit)="submit()">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" formControlName="userName"/>
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
            Wrong name
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" formControlName="userEmail" />
          
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
            Wrong email
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" formControlName="userPassword" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
            Wrong password
        </div>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input class="form-control"  name="phone" formControlName="userPhone" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userPhone'].invalid && myForm.controls['userPhone'].touched">
            Wrong phone
        </div>
    </div>
    <div class="form-group">
        <label>Date of birth</label>
        <input class="form-control"  name="date" formControlName="date" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['date'].invalid && myForm.controls['date'].touched">
            Date
        </div>
    </div>
    <div class="form-group">
        <label>Education</label>
        <input class="form-control"  name="education" formControlName="education" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['education'].invalid && myForm.controls['education'].touched">
            Education
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" [disabled]="myForm.invalid">
            Create
        </button>
    </div>
</form>`