`<form [formGroup]="myForm" translate>
    <div class="form-group">
        <label>{{'name'|translate}}</label>
        <input class="form-control" name="name" formControlName="userName" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
            Wrong name, minimum length 1 characters
        </div>
    </div>
    <div class="form-group">
        <label>{{'email'|translate}}</label>
        <input class="form-control" name="email" formControlName="userEmail" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
            Write correct email
        </div>
    </div>
    <div class="form-group">
        <label>{{'password'|translate}}</label>
        <input class="form-control" type="password" name="password" formControlName="userPassword" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
            Wrong password, minimum length one characters
        </div>
    </div>
    <div formArrayName="phones">
        <div class="form-group" *ngFor="let phone of getFormsControls()['controls']; let i = index">
            <label>{{'phone'|translate}}</label>
            <input class="form-control" formControlName="{{i}}" />
        </div>
        <div class="alert alert-danger" *ngIf="myForm.controls['phones'].invalid && myForm.controls['phones'].touched">
            Wrong phone, example: +3805555555
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addPhone()">
            Add phone
        </button>
        <button class="btn btn-danger" (click)="deletePhone()">
            Delete phone
        </button>
    </div>
    <div class="form-group">
        <label>{{'date_of_birth'|translate}}</label>
        <input class="form-control" name="date" formControlName="date" />
        <div class="alert alert-danger" *ngIf="myForm.controls['date'].invalid && myForm.controls['date'].touched">
            Date example - dd-mm-yyyy
        </div>
    </div>
    <div class="form-group">
        <label>{{'education'|translate}}</label>
        <input class="form-control" name="education" formControlName="education" />
        <div class="alert alert-danger"
            *ngIf="myForm.controls['education'].invalid && myForm.controls['education'].touched">
            Wrong education, minimum length one characters
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-warning" (click)="submit()">
            Submit
        </button>
        <button class="btn btn-success" (click)="backPage()">
            {{'back'|translate}}
        </button>
    </div>

</form>